html {
  overflow-x: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #666;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 38px;
  font-weight: 700;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-main {
  width:65%;
  float:left;
  background: #fff;
  padding:2%;
}

.text-main p {
  line-height: 1.2em;
  font-size: 14px;
  color: #434C5E;
}

.text-main h5 {
  line-height: 1.2em;
  font-size: 18px;
  color: #434C5E;
  margin-bottom: 5px;
  text-align: left;
}

.img-main{
  width:35%;
  float:left;
  background: #fff;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.list_main{
  margin-bottom: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
 overflow: hidden;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
-webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.85); 
box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.85);
}

.header {
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 4px 12px -1px rgba(0,0,0,0.33);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(221,228,233,1) 20%, rgba(119,153,173,1) 37%, rgba(18,84,122,1) 72%);
}

.header-wrapper {
    display: flex;
}

.logo-link {
    max-width: 150px;
    max-height: 50px;
    display: block;
    margin-top: 3px;
}

.logo-img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.main_nav {
    margin-left: auto;
    display: flex;
}

.main_nav-list {
    display: flex;
}

.main_nav-item {
    margin-left: 5px;
}

.main_nav-link {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
}

.main_nav-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.main_nav-icon svg {
    max-width: 100%;
    height: auto;
    fill: #ffffff;
}

.main_nav-txt {
    position: relative;
    color: #ffffff;
    font-weight: bolder;
}

.main_nav-txt:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #21f8f8;
    transition: 0.3s;
    transform: translateX(-50%);
}

.main_nav-txt:hover:after,
.main_nav-link--active .main_nav-txt:after {
    width: 100%;
}

.main_nav-show {
    display: none;
    outline: none;
}

.main_nav-close_wrapper {
    display: none;
}

@media (max-width: 768px) {
    .main_nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 200;
    }

    .main_nav--active {
        display: block;
        animation-name: showNav;
        animation-duration: 0.1s;
        animation-fill-mode: forwards;
    }

    .main_nav-list {
        text-align: center;
        position: absolute;
        top: 0;
        right: -10000px;
        bottom: 0;
        flex-direction: column;
        background: rgb(33,248,248);
        background: linear-gradient(338deg, rgba(33,248,248,1) 10%, rgba(21,176,188,1) 32%, rgba(0,52,84,1) 100%);
    }

    .main_nav--active .main_nav-list {
        animation-name: showNavList;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    .main_nav-link {
        flex-direction: column;
        align-items: center;
    }

    .main_nav-icon {
        width: 40px;
        height: 40px;
    }

    .main_nav-txt {
        font-size: 22px;
    }

    .main_nav-show {
        display: block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        margin-top: 2px;
        margin-left: auto;
    }

    .main_nav-show svg {
        max-width: 100%;
        height: auto;
        fill: #ffffff;
        outline: none;
    }

    .main_nav-close_wrapper {
        display: block;
        position: relative;
        min-height: 50px;
    }

    .main_nav-close {
        position: absolute;
        top: 3px;
        right: 0;
        width: 40px;
        height: 40px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .main_nav-close:before,
    .main_nav-close:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        top: 17px;
        left: 3px;
    }

    .main_nav-close:before {
        transform: rotate(-45deg);
    }

    .main_nav-close:after {
        transform: rotate(45deg);
    }
}

@keyframes showNav {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.8); }
}

@keyframes showNavList {
    from { right: -10000px; left: 10000px; }
    to { right: 0; left: 35%; }
}


.hero-heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    color: #535353;
    margin: 40px auto;
}

.section-title-head {
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    color: #535353;
}

.section-title-tech {
    font-size: 40px;
    text-align: left;
    font-weight: bolder;
    color: #535353;
    margin: 15px auto;
}

.button_bg {
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 0.149;
  position: absolute;
  left: 2334px;
  top: 763px;
  width: 300px;
  height: 74px;
  z-index: 507;
}


.section-title-sostav {
    font-size: 40px;
    text-align: left;
    font-weight: bolder;
    color: #535353;
    margin: 15px auto;
}

.pro-title {
  color: black;
  font-weight: bolder;
}

#photo p {
  font-size: 16px;
  color: #000;
  font-weight: bolder;
}

/* characteristics */


.specifications-wrapper {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.specifications-slider,
.specifications-text {
    width: 50%;
}

.specifications-slider {
    order: 2;
}

.specifications-title {
    text-align: left;
    font-size: 30px;
    color: #535353;
}

.specifications-text {
    order: 1;
}

.specifications-item {
    font-size: 1.7vw;
}

.specifications_name {
    font-weight: bolder;
}

.specifications-slider {
    position: relative;
}

.owl-carousel .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    z-index: 10000;
    min-height: 50px;
    margin-top: 0;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 50px;
    height: 50px;
    background: transparent;
    outline: none;
    border: 1px solid red;
    position: relative;
    display: none;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background: transparent;
    cursor: pointer;
}

.owl-carousel .owl-nav button.owl-prev {
    margin-left: 50px;
}

.owl-carousel .owl-nav button.owl-next {
    margin-right: 50px;
}

.owl-prev span,
.owl-next span {
    color: transparent;;
}

.owl-carousel .owl-nav button:before,
.owl-carousel .owl-nav button:after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
}

.owl-dots {
    margin-top: 10px;
}

.owl-carousel .owl-dots .owl-dot {
    outline: none;
}

@media (max-width: 768px) {
    .specifications-wrapper {
        flex-direction: column;
        padding: 0;
    }

    .specifications-slider {
        order: 1;
        width: 100%;
    }

    .specifications-text {
        order: 2;
        width: 100%;
        padding: 20px;
    }

    .specifications-item {
        font-size: 3.5vw;
    }
}

/* ==========================================================================
3. Main
========================================================================== */
.main-bg {
  background: url(../img/back.jpg) no-repeat;
  background-size: cover;
}

#main {
  color: #000;
  padding: 80px 0 80px 0;
  overflow: hidden;
  position: relative;
}

#main p {
  font-size: 14px;
  color: #666;
  font-weight: 400;
  line-height: 20px;
}

#main h5 {
  color: #666;
  font-weight: 400;
  line-height: 30px;
}

#main .zag {
  margin-bottom: 25px;
}

#main .zag1 {
  margin-bottom: 0px;
}

/* line */

.section-line {
    margin-bottom: 30px;
}

.line-wrapper {
    display: flex;
    padding: 0 30px;
}

.line-text,
.line-video_wrapper {
    width: 100%;
}

.line-video {
    width: 100%;
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.line-video iframe,
.line-video object,
.line-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.line-text {
    padding: 0 30px;
}

.line-title {
    text-align: left;
    font-size: 30px;
    color: #535353;
}

.line-item {
    font-size: 1.7vw;
}

@media (max-width: 768px) {
    .line-video_wrapper {
        width: 100%;
    }

    .line-wrapper {
        flex-direction: column;
        padding: 0;
    }

    .line-text {
        width: 100%;
        padding: 20px;
    }

    .line-item {
        font-size: 3.5vw;
    }
}

/* contacts */

.contacts {
    padding-top: 20px;
    background-image: url('../img/background.jpg');
}

.contacts .section-title {
    color: #ffffff;
}

.contacts-wrapper {
    display: flex;
}

.contacts-form_wrapper,
.contacts-list {
    padding: 30px;
    width: 50%;
    color: #ffffff;
}

.input_wrapper,
.form-btn_wrapper {
    width: 50%;
    margin: 0 auto 20px;
}

.form-btn_wrapper {
    margin-top: 40px;
}

.form-label {
    display: block;
    color: white;
    width: 100%;
}

.form-input {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background-color: transparent;
    outline: none;
}

.form-input::placeholder {
    color: rgba(33, 248, 248, 0.44);
}

.head-btn {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #21f8f8;
    color: #4e4e4e;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}

.head-btn:hover {
    transform: translateY(-3px);
    background-color: #21d5d5;
}

.form-btn {
    display: inline-block;
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 75px;
    background-color: #21f8f8;
    color: #4e4e4e;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bolder;
    font-size: 18px;
}

.form-btn:hover {
    transform: translateY(-3px);
    background-color: #21d5d5;
}

@media (max-width: 768px) {
    .contacts-wrapper {
        flex-direction: column;
    }

    .contacts-form_wrapper,
    .contacts-list {
        width: 100%;
    }

    .contacts .section-title {
        margin-bottom: 0;
    }
}

.text-danger {
  font-size: 14px;
  margin-top: 10px;
}

.list-unstyled li {
  color: #d9534f;
}

#conatiner-map {
  margin-top: 30px;
  text-align: center;
  background-color: #fff;
  height: 370px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 101;
  width: 100%;
}


.footer {
  padding: 0.2em 0;
  width: 100%;
  background-color: rgba(18,84,122,1);
  position: relative;
}
.copy {
  color: white;
  text-align: center;
}
.copy a {
  color: white;
}
